nav{
    width: 100%;
    
    color: #fff;
    padding: 14px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 180px;
    cursor: pointer;
    font-family: "Teko", sans-serif;
}
.logo span{
    font-family: "Teko", sans-serif;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    position: relative;
}
/*  */
nav ul li::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}
nav ul li:hover::after{
    width: 50%;

}


/*  */
.dark-nav{
    background: #212EA0;
    
    transition: 0.5s;
    
}
.menu-icon{
    display: none;
}

/* queries */
@media (max-width: 1000px){
    .logo{
        width: 140px;

    }
    nav ul li{
        margin: 10px 15px;
    }

}

@media (max-width: 840px){
    nav{
        padding: 15px 0;
    }
    
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        
        background: linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)), url('../../assets/HomeBG3.jpg');
        background-size: cover;
        background-position: center;
        z-index: -1;
        width: 100%;
        padding-top: 70px;
        transition: 0.5s;

        
    }  
    nav ul li{
        display: block;
        margin: 50px 40px;
        justify-self: center;
    }
    nav ul li a{
        font-size: 30px;
    
    }
    .menu-icon{
        display: block;
        width: 40px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right: -100%;
        
    }

}